.converter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.converter__currency{
    width: 80%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px -5px rgb(34 60 80 / 30%), 0 0 0 2px rgb(34 60 80 / 10%);
    margin: 20px 0;
    background-color: #fff;
}

.converter__part{
    width: 50%;
    padding: 10px;
}

.converter__input{
    outline: 0;
    outline-offset: 0;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #383c3f;
    text-align: center;
    box-shadow: 5px 5px 7px -5px rgb(34 60 80 / 90%);
}

.converter__cocoon{
    width: 100%;
    height: auto;
    cursor: pointer;
}

.converter__flag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 75px;
}

.converter__img{
    height: 30px;
    width: auto;
    border: 1px solid #ccc;
}

.converter__currency-info{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.converter__currency-code{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #383c3f;
    padding: 5px 0;
}

.converter__currency-name{
    width: 100%;
    color: #383c3f;
    font-size: 12px;
    text-align: center;
}


.converter__list{
    display: none;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 15px;
    border-radius: 5px;
    background-color: #ccc;
    box-shadow: 0px 5px 10px 2px rgb(34 60 80 / 20%) inset;
}

.converter__list--open{
    display: flex;
}

.converter-select{
    width: 300px;
    height: 300px;
    background-color: #fff;
    overflow-x: hidden;
}

.converter-select__filtr{
    width: 100%;
    height: 35px;
    text-align: center;
    background-color: #aaa;
    border-radius: 5px;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: bold;
    color: #383c3f;
    outline: 0;
    text-transform: uppercase;
}
.converter-select__filtr::placeholder{
    text-transform: lowercase;
}

.converter-select__items{
    width: 300px;
    height: auto;
}

.converter-select__item{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 1s;
}

.converter-select__item:hover{
    background-color: #cacaca;
}

.converter-select__flag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 75px;
}

.converter-select__img{
    height: 30px;
    width: auto;
    border: 1px solid #ccc;
}

.converter-select__info{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.converter-select__code{
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #383c3f;
    padding: 5px 0;
}

.converter-select__name{
    width: 100%;
    color: #383c3f;
    font-size: 12px;
    text-align: center;
}